# Environment variables
.env

# Persistence file
bot_persistence.pickle

# Database file
queue.db

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

*.py[cod]
*$py.class
*.db
*.pickle
.DS_Store